# python 3.10.12
asgiref==3.8.1
channels[daphne]
channels-redis==4.2.0
demjson3==3.0.6
Django==5.0.6
redis==5.0.7
uvicorn==0.30.1
websockets==12.0


# python 3.7.17
#asgiref==3.7.2
#channels==3.0.3
#channels-redis==4.1.0
#demjson3==3.0.5
#Django==3.2.13
#redis==5.0.7
#uvicorn==0.22.0
#websockets==11.0.3